{% extends "REST/base.html" %}
{% load staticfiles %}
{% block styles %}
    <script type="text/javascript" src="{% static 'REST/js/jquery-3.1.0.min.js' %}"></script>
{% endblock %}
{% block body %}
    <form action="" method="post" class="ajax" id="submit_form">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Submit</button>
    </form>
    {% if username %}
        <span>{{ username }}</span><br>
        <span>{{ password }}</span><br>
        <span>{{ email }}</span><br>
    {% endif %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("{% url 'rest:get_users' %}", function (data) {
                console.log(data);
            });
        });

    </script>
    <script type="text/javascript" src="{% static 'REST/js/index.js' %}"></script>
{% endblock %}
