{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'User/css/table-style.css' %}">
    <link rel="stylesheet" href="{% static 'User/css/controller-profile.css' %}">
</head>
<body>
<table>
    <tr>
        <td>
            <a href="#">
                <div class="table-card" style="background-color:#F44336;">
                    <h4>Departments</h4>
                    <h5>4</h5>
                </div>
            </a>

        </td>
        <td>
            <a href="#">
                <div class="table-card" style="background-color:#AB47BC;">
                    <h4>Course</h4>
                    <h5>4</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="#">
                <div class="table-card" style="background-color:#26C6DA;">
                    <h4>Subject</h4>
                    <h5>4</h5>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#">
                <div class="table-card" style="background-color:#26A69A;">
                    <h4>Challan</h4>
                    <h5>4</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="#">
                <div class="table-card" style="background-color:#66BB6A;">
                    <h4>Students</h4>
                    <h5>4</h5>
                </div>
            </a>
        </td>
        <td>
            <a href="#">
                <div class="table-card" style="background-color:#FF7043;">
                    <h4>Question Papers</h4>
                    <h5>4</h5>
                </div>
            </a>
        </td>
    </tr>
</table>
</body>
</html>